/* Bootstrap Portfolio Stylesheet */

/* 
-How to set 'About Me' font color
-How to float `nav-item` right
-Set background image
  */

  body {
    
    color: #777777;
    background: url("/assets/images/what-the-hex/what-the-hex.png");
  }
  
.navbar {
    padding: 0px;
    border-bottom: solid 3px #cccccc;
    z-index: 5;
}

h1  {
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 20px;
    margin: 0;
}


.bio-section    {
    border: 2px solid #dddddd;
    background-color: #ffffff;
    overflow: auto;
    width: 60vw;;
    margin: auto;
    padding: 20px;
}

.about-me {
    color: #4aaaa5;

}

hr {
    height: 5px;
    width: 95%;
}

img {
    float: left;
    padding: 10px;
    top: 0px;
    
}

p   {
    clear: right;
}


.font-heading   {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.font-text  {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

footer  {
    background-color: #666666;
    padding: 15px;
    border-top: 5px solid;

}

.copy   {
    padding: 10px 10px 0px 10px;
    font-size: small;
    text-align: center;
    color: #ffffff;
    position: relative;
    bottom: -10px;

}
